aiohttp
anitopy
apscheduler
aria2p
certifi>=2023.7.22
country_converter
dnspython>=2.6.0rc1
emoji-country-flag
feedparser
html-telegraph-poster
humanize
lxml[html_clean]
psutil
pycountry
pymediainfo
pymongo[srv]
pyrogram==2.0.106
python-decouple
qbittorrent-api
quote
random_word
requests>=2.32.0
setuptools>=65.5.1
telethon==1.38
tgcrypto
tzlocal
yt-dlp
